{% extends 'main.html' %}
{% block AccountList %}
<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
  <table class="table">
    <thead>
      <tr>
        <th>Account</th>
      </tr>
    </thead>
    <tbody>
    {% for account in accounts %}
        {% if  account.account_title  %}
        <tr><td><a href = '/transactions/get/{{ account.id }}'> {{ account.account_title }}</a></td></tr>
        {% endif %}
    {% endfor %}
      <tr>
    </tbody>
  </table>
</div>
{% endblock %}
