{% extends 'main.html' %}
{% block GoalsList %}
<div class="container">
   <h3>Full information on {{ username }} goals and facilities</h3>
    <p></p>
    <p></p>
  <table class="table">
    <thead>
      <tr>
        <th>Goal</th>
        <th>Facilities</th>
        <th>Mood</th>
      </tr>

    </thead>
    <tbody>
          {% for items in goals %}
              <tr>
              <td>{{ items.account_goals }}</td>
              <td>{{ items.account_facilities }}</td>
              <td>{{ items.goals_mood }}</td>
              </tr>
          {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
