{% extends 'main.html' %}
{% block Journal %}
<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
  <table class="table">
    <thead>
      <tr>
        <th>Account</th>
        <th>Status</th>
        <th>Expenditure</th>
        <th>Currency</th>
        <th>Amount</th>
        <th>Balance</th>
        <th>Comment</th>
        <th>Date/time</th>
      </tr>{{ username }}

    </thead>
    <tbody>
          {% for items in account %}
              <tr>
              <td>{{ items.account_title }}</td>
              <td>{{ items.account_jornal_status }}</td>
              <td>{{ items.account_transaction_expenditure_name }}</td>
              <td>{{ items.account_transaction_currency }}</td>
              <td>{{ items.account_transaction_amount }}</td>
              <td>{{ items.account_balance }}</td>
              <td>{{ items.account_transaction_comment }}</td>
              <td>{{ items.account_transaction_date }}</td>
              </tr>
          {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
