{% extends 'main.html' %}
{% block SendForm %}

<form action="/1/addPost/1" method="post">{% csrf_token %}

<h3><p>User: {{ username }} - Id: {{ ID }}</p></h3>


    <p>Account Title: {{ form.account_title }}</p>
    <p>Operation status: {{ form.account_jornal_status }}</p>
    <p>Expenditure/Enrollment tag:{{ form.account_transaction_expenditure_name }}</p>
    <p>Amount: {{ form.account_transaction_amount }}</p>
    <p>Currency:  {{ form.account_transaction_currency }}</p>
    <p>Comment: {{ form.account_transaction_comment }}</p>
    <p>Date/time: {{ form.account_transaction_date }}</p>




<button type="submit" class="save btn btn-default">Save</button>
</form>
{% endblock %}