<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cost Manager</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">

   #footer {
    position: fixed; /* Фиксированное положение */
    right: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    width: 35%; /* Ширина слоя */
    height: 20%;
   }
  </style>

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.forbes.com/billionaires/list/">Cost Manager</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home/">Home</a></li>
      <li><a href="/accounts/all/">Journal</a></li>
      <li><a href="/1/addPost/1">Expenditure/Enrollment</a></li>
      <li><a href="/create/new/">Account managing</a></li>
      <li><a href="/goals/new/">Goals</a></li>
      <li><a href="/balance/">Balance</a></li>
        {% if username %}
        <li class="active"><a href="/auth/logout/"><ul class="align-right">Sign Out {{ username }}</ul></a></li>
        {% else %}
        <li class="active"><a href="/auth/login/"><ul class="align-right">Login</ul></a></li>
        {% endif %}
    </ul>
  </div>
</nav>

{% block support %}
{% endblock %}

{% if username %}
<div class="container">
{% block SendForm %}
{% endblock %}

{% block AccountList %}
{% endblock %}

{% block Journal %}
{% endblock %}

{% block GoalsList %}
{% endblock %}

{% block Balance %}
{% endblock %}


{% block CreateAccount %}
{% endblock %}

{% block MyGoals %}
{% endblock %}


{% block Motion %}
{% endblock %}


{% endif %}

{% block registrPage %}
{% endblock %}


{% block LoginPage %}
{% endblock %}

</div>

<p></p>
<p></p>

<p></p>
<img src="https://i.pinimg.com/originals/92/6c/d7/926cd75ba73558929e97400fd6c0c223.png" alt="альтернативный текст">

<p></p>


{% if username %}



<div class="panel panel-default" id = "footer" >
<table width="210" border="1" style="border-collapse: collapse; text-align:center; font-size:11px; color:#000000; "><tr bgcolor=""><td height="10" valign="top" colspan="3"><style>A.forexpf_ { text-decoration: none;} A.forexpf_:visited {color: #000000;} </style><a href="http://www.forexpf.ru/" title="Курсы валют" target="_blank" class="forexpf_">Курсы валют</a></td></tr><tr bgcolor="F6EDDD"><td></td><td>Покупка</td><td>Продажа</td></tr><tr bgcolor=""><td><a href="http://www.forexpf.ru/currency_usd.asp" title="Курс доллара" target="_blank" class="forexpf_">USD/RUB</a></td><td id="usdrubbid">0.00</td><td id="usdrubask">0.00</td></tr><tr bgcolor="F6EDDD"><td><a href="http://www.forexpf.ru/currency_eur.asp" title="Курс Евро" target="_blank" class="forexpf_">EUR/RUB</a></td><td id="eurrubbid">0.00</td><td id="eurrubask">0.00</td></tr><tr bgcolor=""><td colspan="3" id="euusrutm">Данные на</td></tr></table><script src="http://informers.forexpf.ru/export/euusrub.js?nc=1"></script>
</div>



{% endif %}






</body>
</html>