<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Cost Manager</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/accounts/all/">Journal</a></li>
      <li><a href="/1/addPost/1">Expenditure/Enrollment</a></li>
      <li><a href="/create/new/">Account managing</a></li>
      <li><a href="/goals/new/">Goals</a></li>
        {% if username %}
        <li class="active"><a href="/auth/logout/"><ul class="align-right">Sign Out {{ username }}</ul></a></li>
        {% else %}
        <li class="active"><a href="/auth/login/"><ul class="align-right">Login</ul></a></li>
        {% endif %}
    </ul>
  </div>
</nav>


<div class="container">
{% block SendForm %}
{% endblock %}

{% block AccountList %}
{% endblock %}

{% block Journal %}
{% endblock %}

{% block LoginPage %}
{% endblock %}

{% block registrPage %}
{% endblock %}

{% block support %}
{% endblock %}

{% block CreateAccount %}
{% endblock %}

{% block MyGoals %}
{% endblock %}

</div>

<p></p>
<p></p>
<p></p>
<p></p>
<p><h3>Exchange rates</h3></p>


<div class="panel panel-default">
      <div class="panel-heading">
        <a href="http://rub.mconvert.net/" style="font-weight: bold; color: #777;">1 Russian Ruble (RUB)</a>
      </div>
      <div class="panel-body" style="padding: 0px;">
                <table class="table table-hover table-striped" style="margin: 0px; font-size: 12px">
          <tbody>
                        <tr>
              <td title="USD"><img src="http://mconvert.net/f/i/flags/us.png" width="16" height="11" alt="USD"> US Dollar</td>
              <td style="text-align: right;">
                                  <span class="label label-default" style="; font-size: 12px">0.0169</span>
                              </td>
            </tr>
                                    <tr>
              <td title="EUR"><img src="http://mconvert.net/f/i/flags/eu.png" width="16" height="11" alt="EUR"> Euro</td>
              <td style="text-align: right;">
                                  <span class="label label-default" style="; font-size: 12px">0.0143</span>
                              </td>
            </tr>
                                    <tr>
              <td title="BTC"><img src="http://mconvert.net/f/i/flags/btc.png" width="16" height="11" alt="BTC"> Bitcoin</td>
              <td style="text-align: right;">
                                  <span class="label label-default" style="; font-size: 12px">0</span>
                              </td>
            </tr>
                                  </tbody>
        </table>
              </div>
      <div class="panel-footer" style="font-size: 12px;">

        <span class="pull-right" style="margin-top: 3px; font-size: 11px;">12/11/2017</span>
      </div>
    </div>










</body>
</html>